server:
  port: 8080

spring:
  application:
    name: bff-knowledge
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
      resolve-lazily: true       # lança exception só ao acessar o arquivo

srv:
  base-url: http://localhost:8081

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
